@model IEnumerable<MyApp.Models.Product>

<h2>Product List</h2>
<a href="/Product/Create">Add New</a>

<table class="table">
    <tr><th>Name</th><th>Price</th><th>Actions</th></tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>
                <a href="/Product/Edit/@p.Id">Edit</a> |
                <a href="/Product/Delete/@p.Id">Delete</a>
            </td>
        </tr>
    }
</table>
